@import url('https://fonts.googleapis.com/css?family=Lexend+Exa|Noto+Serif:700i&display=swap');

html {
    font-family: 'Noto Serif', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}



/*-------------Fonts----------*/

.noto-serif {
    font-family: 'Noto Serif', serif;
}

.lexend-exa {
    font-family: 'Lexend Exa', sans-serif;
}

/*-------------Navigation ------*/

.my-nav {

    background-color: #e3f2fdcc;
}

nav ul a {
    color: #000000de;
    font-size: 1.5rem;
}

.side-nav li>a {
    font-size: 17px;
    color: #444;
}

.button-collapse {
    color: #000;
}

/*-------------Buttons ------*/

.btn-md {
    font-size: 2rem !important;
}

.btn,
.btn_color {
    color: #444;
    background-color: #e3f2fdcc
}


.bg-img {
   /*background-image: url('/static/images/view-bgr.jpg');*/
   background-color: #f5f5f5;
}
